[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyboard = "*"
just-playback = "*"
pydantic = "*"
toml = "*"

[dev-packages]

[requires]
python_version = "3.11"
