[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
winregistry = "==0.8.3"
keyboard = "*"
audioplayer = "*"
psutil = "*"
pywin32 = "*"

[dev-packages]

[requires]
python_version = "3.11"
