@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nirmala UI";
}

button {
    @apply cursor-default sm:cursor-pointer;
}

video {
    width: 100%
}

input {
    outline: none;
}